body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 5px;
}

input {
  margin: 10px;
  padding: 5px;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 50%;
}

th, td {
  padding: 10px;
  text-align: center;
}
